
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Barriecito');

.App {
  text-align: center;
  height: 100vh;
  width:100%;
  padding: 3% 10% 0 10%;
  background-color: var(--light-gray);
    font-family: "Ubuntu", sans-serif;
    color: var(--dark-gray);
}

:root{
  --light-gray: #d3d3d3;
  --gray: #3a3d3f;
  --dark-gray: #0a0a0a;
  --silver:#C4CED4;
  --dark-silver: #757b7f;
  --off-white: #FAF9F6;
  --home-red: #FF1134;
  --home-dark-blue: #3F76FF;
  --home-blue: #4292FF;

  --yellow: #fdff3d;
  --orange: #ff9a34;
  --light-orange: #ffd6ad;
  --red: #ff2020;
  --teal: #14c5af;
  --light-teal: rgba(20, 197, 175, 0.2);
  --purple: #592d72;
  --light-purple: #cdc0d4;
  --blue: #1483c5;
  --light-blue: rgba(20, 131, 197, 0.2);

  --green: #50C878;
  --pale-yellow: #FFD866;
  --blue-purple: #674EA7;
  --magenta: #D33291;

  --ocean-light-teal: #e2ebee;
  --ocean-teal:#729EAB;
  --ocean-dark-teal: #445e66;
  --ocean-blue: #004080;
  --ocean-dark-blue: #003366;
  --ocean-darker-blue: #001a33;
  --ocean-pink: #e51e82;
  --ocean-orange: #e51e1f;
}

h1, h2, h3{
  color: var(--dark-gray);
}
h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 48px
}

h3{
  font-size: 30px;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.row{
  margin:0;
}

.btn-primary:active {
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
}

.hide{
  display: none;
}

.flex-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-grow-0{
  flex: 0 0 auto;
}
.flex-grow-1{
  flex: 1 1 auto;
}

#appContent .col{
  height: 100%;
}

#containerDiv{
height: 90%;
margin: auto;
border: 1px solid var(--gray);
background-color: var(--dark-gray);
border-radius: 10%;
justify-content: center;
align-items: center;
padding: 1% 1% 5% 1%;
position: relative;
}

#tvContainerDiv{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--home-red);
  /* background-image: linear-gradient(var(--home-red) 70%, var(--home-blue) ); */
  border: 5px solid var(--gray);
border-style: groove;
box-shadow: inset 1px 1px 20px var(--dark-gray), 0 0 10px var(--dark-silver);
border-radius: 10%;
position: relative;
}

#tvLegsDiv{
  height: 10%;
  width: 30%;
  margin: 0 auto;
  position: relative;
}

.tv-leg{
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  border-bottom: 1px solid var(--gray);
  margin: 0;
}

.curve{
  text-align: left;
  width: 5%;
  height:100%;
  background-color: var(--light-gray);
  content: "";
  display: inline-block;
}

#curveLeft{
  border-radius: 0 30% 30% 0;
  position: absolute;
  left: 0
}

#curveRight{
  border-radius:  30% 0 0 30%;

  position: absolute;
  right: 0
}
#content{
  width: 100%;
  height: 100%;
}

#remoteContainerDiv{
position:absolute;
right: 5%;
bottom: 0;
height: fit-content;
text-align: center;
padding: 5% 0;
filter:drop-shadow(1px 5px 5px var(--gray));
}

#remoteDiv{
  border: 1px solid black;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
  position: relative;
  background-color: var(--dark-gray);

}


#powerBtn{
  background-color: var(--home-red);
  border-color: black;
  color:var(--dark-gray);
  border-radius: 50%;
}

#tvTitle, #remoteTitle{
  color: var(--dark-silver);
  margin-bottom: 0;
  font-weight: bold;
}

#tvTitle{
  color: var(--dark-silver);
  bottom: 1%;
  left: 50%;
  transform:translateX(-50%);
  position: absolute;
}

#tvBtnDiv{
  padding-top: 20px;
}

.tv-btn, .tv-btn-rect{
  background-color: var(--dark-gray);
  border: 2px solid black;
  box-shadow: inset 1px 1px black;
  display: block;
  margin: 0 auto 20px auto;
}

.tv-btn{
  border-radius: 50%;
}

.tv-btn:hover, .tv-btn:active, .tv-btn-rect:hover, .tv-btn-rect:active{
  background-color: transparent;
  border-color: var(--gray);
}

.tv-btn img, .tv-btn-rect img{
  width: 50px;
  height:50px;
  margin: 3px;
}

